body {
    background-color: #0f1b24;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  text-decoration: none
}

a {
  text-decoration: none;
  color: black;
}